# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled output #
##################
dist/
tmp/
out-tsc/
bazel-out/

# Node #
########
node_modules/
npm-debug.log
yarn-error.log

# Python #
##########
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Flask #
#########
instance/
.webassets-cache

# Pytest #
##########
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml

# Editors #
###########
.vscode/
*.swp
*.swo

# macOS #
#########
.DS_Store

# Windows #
###########
Thumbs.db
ehthumbs.db
Desktop.ini

# Misc #
########
.idea/
*.log
*.sqlite3